/* CSS reset */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,700i,800,800i|PT+Sans:400,700&subset=cyrillic");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dir,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

input,
select {
  vertical-align: middle;
}

ol,
ul {
  list-style: none;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: inherit;
}

/* Safari reset style input */
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

/* Chrome autofill */
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px white;
  -webkit-text-fill-color: black;
}

/* Text selection */
::-moz-selection {
  background: #3E4651;
  color: #fff;
}

::selection {
  background: #3E4651;
  color: #fff;
}

::-moz-selection {
  background: #3E4651;
  color: #fff;
}

/* End CSS reset */
/* Mixins */
/* End Mixins */
/* All styles */
body {
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

.container {
  position: relative;
  width: 1000px;
  padding: 0 10px;
  margin: 0 auto;
}

@media screen and (max-width: 1020px) {
  .container {
    width: 767px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    width: 320px;
  }
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.get-call {
  display: none;
}

.modal-wrap {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  overflow-y: auto;
}

/* End All styles */
.icon-brain {
  background-image: url(../img/sprite.png);
  background-position: 0px -93px;
  width: 57px;
  height: 57px;
}




.icon-erection {
  background-image: url(../img/sprite.png);
  background-position: -57px -93px;
  width: 55px;
  height: 55px;
}

.icon-everad-logo {
  background-image: url(../img/sprite.png);
  background-position: -112px -93px;
  width: 58px;
  height: 51px;
}

.icon-first-aid {
  background-image: url(../img/sprite.png);
  background-position: -153px -27px;
  width: 24px;
  height: 24px;
}

.icon-leafs {
  background-image: url(../img/sprite.png);
  background-position: -153px -51px;
  width: 21px;
  height: 23px;
  margin-left: 250px;
}

.icon-lock {
  background-image: url(../img/sprite.png);
  background-position: -174px -51px;
  width: 12px;
  height: 14px;
}

.icon-logo {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 187px;
  height: 27px;
}

.icon-male {
  background-image: url(../img/sprite.png);
  background-position: -136px -150px;
  width: 26px;
  height: 17px;
}

.icon-no-sex {
  background-image: url(../img/sprite.png);
  background-position: 0px -150px;
  width: 48px;
  height: 48px;
}

.icon-phone {
  background-image: url(../img/sprite.png);
  background-position: -20px -198px;
  width: 20px;
  height: 20px;
}

.icon-red-tick {
  background-image: url(../img/sprite.png);
  background-position: -170px -93px;
  width: 16px;
  height: 17px;
}

.icon-rocket {
  background-image: url(../img/sprite.png);
  background-position: 0px -198px;
  width: 20px;
  height: 20px;
}

.icon-rounded-cross {
  background-image: url(../img/sprite.png);
  background-position: -170px -110px;
  width: 16px;
  height: 16px;
}



.icon-time {
  background-image: url(../img/sprite.png);
  background-position: -187px -57px;
  width: 48px;
  height: 56px;
}

.icon-user {
  background-image: url(../img/sprite.png);
  background-position: -40px -198px;
  width: 18px;
  height: 18px;
}

.icon-weak-potention {
  background-image: url(../img/sprite.png);
  background-position: -48px -150px;
  width: 53px;
  height: 38px;
}

.icon-white-cross {
  background-image: url(../img/sprite.png);
  background-position: -101px -150px;
  width: 35px;
  height: 33px;
}

.icon-white-tick {
  background-image: url(../img/sprite.png);
  background-position: -187px -113px;
  width: 42px;
  height: 33px;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'PT Sans', sans-serif; */
}

i[class*='icon-'] {
  display: inline-block;
  vertical-align: middle;
}

header {
  background-color: #1b1b1d;
  -webkit-box-shadow: 0.5px 0.9px 1px rgba(132, 132, 132, 0.75);
  box-shadow: 0.5px 0.9px 1px rgba(132, 132, 132, 0.75);
  padding-top: 19px;
  padding-bottom: 21px;
}

.order-btn {
  float: right;
  width: 197px;
  border: 1px solid #60b1a4;
  border-radius: 3px;
  height: 44px;
  line-height: 43px;
  color: #6cccbd;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
}

.order-btn:hover,
.order-btn:focus,
.order-btn:visited {
  background: #6cccbd;
  color: #fff;
}

.logo {
  margin-top: 6px;
  margin-right: 75px;
}

.logo,
.leaf,
.rocket {
  float: left;
}

.leaf {
  margin-top: 10px;
  margin-right: 0px;
}

.leaf i {
  margin-right: 8px;
}

.rocket {
  margin-top: 10px;
}

.rocket i {
  margin-right: 8px;
}

.leaf-text {
  display: inline-block;
  vertical-align: middle;
  color: white;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 900;
  font-style: italic;
  line-height: 24px;
}

.one {
  background: #151516 url(../img/header-bg.png) center bottom no-repeat;
}

.list-prod-form-wrap {
  margin-bottom: 91px;
}

h1 {
  font-family: "Open Sans";
  font-size: 46px;
  font-weight: 900;
  text-align: center;
  padding-top: 33px;
  margin-bottom: 7px;
  color: white;
}

h1 span {
  color: #6cccbd;
}

h2 {
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  line-height: 24px;
  color: white;
}

h2 span {
  color: #6cccbd;
}

.logo-text {

  font-family: "Open Sans";
  font-size: 46px;
  font-weight: 900;
  text-align: center;
  padding-top: 33px;
  margin-bottom: 7px;
  color: #6cccbd;
}


.list {
  float: left;
  margin-top: 137px;
  width: 270px;
}

.list li {
  margin-bottom: 10px;
  color: white;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  line-height: 24px;
  position: relative;
  padding-left: 27px;
}

.list li:before {
  content: '';
  position: absolute;
  background-image: url(../img/sprite.png);
  background-position: -170px -93px;
  width: 16px;
  height: 17px;
  left: 0;
  top: 4px;
}

.list li:after {
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  margin-top: 10px;
  background: rgba(57, 57, 57, 0);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(57, 57, 57, 0)), color-stop(25%, #393939), color-stop(50%, #393939), color-stop(75%, #393939), color-stop(100%, rgba(57, 57, 57, 0)));
  background: -webkit-gradient(linear, left top, right top, from(rgba(57, 57, 57, 0)), color-stop(25%, #393939), color-stop(50%, #393939), color-stop(75%, #393939), to(rgba(57, 57, 57, 0)));
  background: linear-gradient(to right, rgba(57, 57, 57, 0) 0%, #393939 25%, #393939 50%, #393939 75%, rgba(57, 57, 57, 0) 100%);
}

.list li:last-child:after {
  display: none;
}

.prod-wrap {
  float: left;
  position: relative;
  width: 380px;
  height: 403px;
}

.prod-wrap img {
  position: absolute;
  z-index: 3;
  bottom: -220px;
  left: -40px;
}

.label {
  background: url(../img/label.png) no-repeat center center;
  width: 113px;
  height: 113px;
  color: white;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 900;
  line-height: 24px;
  text-align: center;
  padding-top: 26px;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  position: absolute;
  bottom: -60px;
  right: 10px;
  z-index: 4;
}

.label span {
  color: white;
  font-family: "Open Sans";
  font-size: 23px;
  font-weight: 700;
  line-height: 50px;
}

.form-wrap {
  float: right;
  background-color: #6ac6b8;
  margin-top: 112px;
  border-radius: 3px;
  width: 312px;
}

.form-wrap .form-header {
  font-size: 0;
}

.form-wrap .form-header .form-header-left {
  /* display: inline-block; */
  vertical-align: top;
  /* width: 50%; */
  color: white;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
  line-height: 24px;
  padding: 15px 0 15px 0px;
  position: relative;
  text-align: center;
  z-index: 3;
}

/* .form-wrap .form-header .form-header-left:before {
  position: absolute;
  z-index: -1;
  content: "";
  width: 1px;
  height: 60%;
  right: -3px;
  top: 20%;
  background: transparent;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
} */

.form-wrap .form-header .form-header-right {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  color: #dbfff9;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
  line-height: 24px;
  padding: 15px 0 15px 18px;
  position: relative;
  z-index: 4;
  background-color: #6ac6b8;
  border-top-right-radius: 2px;
}

.form-wrap .new-price {
  color: white;
  line-height: 38px;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 900;
}

.form-wrap .new-price .x_currency {
  font-size: 30px;
  font-weight: 400;
}

.form-wrap .old-price {
  color: #dbfff9;
  font-size: 30px;
  line-height: 32px;
  font-family: "Open Sans";
  font-weight: 600;
  position: relative;
}

.form-wrap .old-price .x_currency {
  font-weight: 400;
}

.form-wrap .old-price:before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  background: red;
  font-weight: 300;
  font-size: 30px;
  width: 80%;
  -webkit-transform: rotate(11deg);
  transform: rotate(11deg);
  height: 1px;
}

.form-wrap .old-price:after {
  content: "";
  position: absolute;
  right: 27px;
  top: 15px;
  background: red;
  font-weight: 300;
  font-size: 30px;
  width: 80%;
  -webkit-transform: rotate(-11deg);
  transform: rotate(-11deg);
  height: 1px;
}

.form-wrap .form-inputs {
  padding: 0px 20px 10px;
}

.form-wrap .form-inputs form p {
  height: 53px;
  background-color: #fafafa;
  border-radius: 2px;
  margin-bottom: 8px;
}

.form-wrap .form-inputs form p input {
  height: 53px;
  border: none;
  width: calc(100% - 50px);
}

.form-wrap .form-inputs form p input {
  outline: none;
}

.form-wrap .form-inputs form p i {
  vertical-align: middle;
  margin-left: 13px;
  margin-right: 9px;
}

.form-wrap .form-inputs .submit-form {
  display: block;
  width: 100%;
  height: 53px;
  background-color: #e63b41;
  border-radius: 2px;
  border: none;
  color: white;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
  position: relative;
  padding-left: 53px;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.form-wrap .form-inputs .submit-form:hover {
  background: #d23339;
}

.form-wrap .form-inputs .submit-form:hover:before {
  padding-left: 20px;
}

.form-wrap .form-inputs .submit-form:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  content: "\203A";
  width: 45px;
  background-color: #d23339;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  line-height: 45px;
  font-weight: 400;
  font-size: 34px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  /* font-family: Verdana */
}

.form-wrap .secure {
  text-align: center;
  color: white;
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 5px;
}

.form-wrap .secure i {
  vertical-align: middle;
}

.form-wrap .secure span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.important {
  color: #343434;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
  margin-top: 83px;
  margin-bottom: 51px;
  padding-left: 153px;
  background: url(../img/attantion.png) no-repeat left center;
}

.important span {
  font-weight: 700;
  line-height: 30px;
}

.three {
  background-color: #000000;
  ;
  padding-bottom: 20px;
}

.three .container {
  background: url(../img/sex-bg.png) no-repeat 300px bottom;
}

.sex-list-title {
  font-family: "Open Sans";
  font-size: 30px;
  line-height: 30px;
  color: white;
  font-weight: 600;
  margin: 20px 0 15px;
}

.sex-list-title span {
  color: #6ac6b8;
  font-weight: 900;
}

.sex-list {
  float: left;
  margin-bottom: 10px;
}

.sex-list li {
  margin-bottom: 23px;
}

.sex-list li:after {
  display: block;
  content: "";
  height: 1px;
  width: 80%;
  float: right;
  margin-top: 10px;
  background: rgba(57, 57, 57, 0);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(57, 57, 57, 0)), color-stop(25%, #393939), color-stop(50%, #393939), color-stop(75%, #393939), color-stop(100%, rgba(57, 57, 57, 0)));
  background: -webkit-gradient(linear, left top, right top, from(rgba(57, 57, 57, 0)), color-stop(25%, #393939), color-stop(50%, #393939), color-stop(75%, #393939), to(rgba(57, 57, 57, 0)));
  background: linear-gradient(to right, rgba(57, 57, 57, 0) 0%, #393939 25%, #393939 50%, #393939 75%, rgba(57, 57, 57, 0) 100%);
}

.sex-list li i {
  vertical-align: middle;
  margin-right: 20px;
}

.sex-list li span {
  display: inline-block;
  vertical-align: middle;
  color: white;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.sex-list li:nth-child(1) i {
  margin-right: 22px;
}

.sex-list li:nth-child(2) i,
.sex-list li:nth-child(4) i {
  margin-right: 29px;
}

.sex-list li:nth-child(3) i {
  margin-right: 24px;
}

.sex-list li:last-child:after {
  display: none;
}

.second-list-text {
  font-size: 13px;
  line-height: 18px;
  display: block;
  color: white;
  float: left;
  clear: both;
  font-family: "Open Sans", sans-serif;
}

.blur {
  clear: both;
  overflow: hidden;
  background: black;
  -webkit-box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.75);
}

.section-b-title {
  font-family: "Open Sans";
  font-size: 30px;
  line-height: 36px;
  color: #242424;
  font-weight: 600;
  text-align: center;
  margin-top: 37px;
  margin-bottom: 30px;
}

.section-b-title span {
  color: #52ad9e;
  font-weight: 900;
}

.made-of-list {
  font-size: 0;
}

.made-of-list li {
  font-family: "Open Sans";
  color: #5c5b5b;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  display: inline-block;
  width: 33.33333%;
  text-align: center;
  padding-top: 190px;
  background-position: center top;
  margin-bottom: 58px;
  background-repeat: no-repeat;
  vertical-align: top;
}

.made-of-list li span {
  color: #1f1f1f;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  display: block;
  margin-bottom: 7px;
}

.made-of-list li:nth-child(1) {
  background-image: url(../img/sost-1.png);
}

.made-of-list li:nth-child(2) {
  background-image: url(../img/sost-2.png);

}

.made-of-list li:nth-child(3) {
  background-image: url(../img/sost-3.png);
}

.made-of-list li:nth-child(4) {
  background-image: url(../img/sost-4.png);
}

.made-of-list li:nth-child(5) {
  background-image: url(../img/sost-5.png);
}

.made-of-list li:nth-child(6) {
  background-image: url(../img/sost-6.png);
}

.components-text {
  padding-bottom: 30px;
  text-align: center;
  font-family: "Open Sans";
  font-size: 22px;
  line-height: 28px;
  color: #242424;
  font-weight: 600;
}

.components-text span {
  color: #52ad9e;
  font-weight: 900;
}

.five {
  background-color: #0b0b0e;
}

.five .container {
  background: url(../img/booty-bg.png) no-repeat 152px top;
}

.five .list {
  margin-top: 50px;
}

.five .prod-wrap {
  height: 295px;
}

.five .form-wrap {
  margin-top: 56px;
  position: relative;
  width: 325px;
}

.five .list-prod-form-wrap {
  margin-bottom: 56px;
}

.left-prod {
  position: absolute;
  top: -98px;
  left: 36px;
  color: white;
  font-family: "Open Sans";
}

.left-prod ul {
  float: left;
  font-size: 0;
  margin-right: 7px;
}

.left-prod ul li {
  display: inline-block;
  color: white;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
  margin-right: 6px;
  margin-top: 8px;
  text-align: center;
  width: 39px;
  height: 46px;
  background-color: #6ac6b8;
  border-radius: 3px;
  position: relative;
  -webkit-box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.15);
}

.left-prod ul li:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #85d6ca;
}

.left-prod .left-text {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  float: left;
  padding-top: 9px;
}

.left-prod .left-text span {
  font-weight: 700;
}

.section-title-border {
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 900;
  line-height: 38px;
  color: white;
  margin-top: 43px;
  padding-left: 15px;
  border-left: 5px solid #6cccbd;
}

.section-title-border span {
  color: #6cccbd;
}

.six {
  background-color: #ecfffe;
  z-index: -1;
  padding-top: 20px;
}

.six .container {
  background: url(../img/doc.png) no-repeat 625px bottom;
}

.expert-title-wrap {
  float: right;
  max-width: 600px
}

.expert-title {
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
  color: #231f20;
  margin-top: 40px;
  margin-bottom: 20px;
}

.expert-title span {
  color: #389485;
}

.expert-second-title {
  padding-bottom: 20px;
  font-size: 14px;
}

.framed {
  background: url(../img/frame.png) no-repeat center top;
  width: 536px;
  height: auto;
  padding-bottom: 80px;
  margin-bottom: 44px;
  background-size: 100% 100%;
}

.framed .inner-framed {
  margin: 80px 81px 20px 67px;
}

.framed .inner-framed p {
  font-family: "Open Sans";
  color: #515151;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.framed .inner-framed p span {
  color: #181818;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.framed .inner-framed .doc-name {
  color: #272727;
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
  margin-top: 25px;
  margin-bottom: 5px;
}

.framed .inner-framed .doc-prof {
  color: #787878;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  position: relative;
}

.framed .inner-framed .doc-prof:after {
  content: "";
  position: absolute;
  right: -25px;
  top: -19px;
  background: url(../img/signature.png) no-repeat center center;
  width: 76px;
  height: 69px;
}

.framed .inner-framed .new-p {
  margin-top: 20px;
}

.seven {
  background-color: #181818;
}

.seven .container {
  background: url(../img/compare-bg.png) no-repeat 169px bottom;
}

.section-w-title {
  font-family: "Open Sans";
  font-size: 30px;
  line-height: 36px;
  color: white;
  font-weight: 600;
  text-align: center;
  margin-top: 37px;
  margin-bottom: 61px;
}

.section-w-title span {
  color: #6ac7b8;
  font-weight: 900;
}

.pros-cons-wrap {
  margin-bottom: 20px;
  background-color: #355550;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjNGFhYzljIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMyZDNjM2IiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMmYyZTJlIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
  background-image: -webkit-repeating-linear-gradient(left, rgb(74, 172, 156) 0%, rgb(45, 60, 59) 50%, rgb(47, 46, 46) 100%);
  background-image: repeating-linear-gradient(to right, rgb(74, 172, 156) 0%, rgb(45, 60, 59) 50%, rgb(47, 46, 46) 100%);
  background-image: -ms-repeating-linear-gradient(left, rgb(74, 172, 156) 0%, rgb(45, 60, 59) 50%, rgb(47, 46, 46) 100%);
}

.pros {
  float: left;
  width: 50%;
  /*background: #fff;*/
  border-right: 3px dotted #2a3030;
}

.pros .pros-title {
  /*background: #6ac7b8;*/
  color: white;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 62px;
  padding-left: 30px;
}

.pros .pros-title i {
  margin: 14px 15px 15px 0;
}

.pros ul,
.cons ul {
  max-width: 70%;
  position: relative
}

.pros ul:after {
  background: url("../img/prodsmall.png") center no-repeat;
  width: 170px;
  height: 150px;
  content: "";
  position: absolute;
  right: -200px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -130px;
  background-size: contain;
}

.cons ul:after {
  background: url("../img/other-product.png") center no-repeat;
  width: 108px;
  height: 202px;
  content: "";
  position: absolute;
  right: -100px;
  top: 0;
  bottom: 0;
  margin: auto;

}

.pros li:not(:last-child) {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  line-height: 20px;
  margin-left: 61px;
  position: relative;
  margin-right: 42px;
  padding: 17px 0 13px 0;
  /*border-bottom: 1px solid #e8e8e8;*/
}

.pros li:not(:last-child):before {
  content: '';
  position: absolute;
  left: -28px;
  top: 18px;
  background-image: url(../img/sprite.png);
  background-position: -170px -93px;
  width: 16px;
  height: 17px;
}

.pros li:nth-child(4) {
  border-bottom: none;
}

.pros li:last-child {
  margin-left: 33px;
  margin-right: 30px;
}

.pros li:last-child span {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  line-height: 24px;
  display: inline-block;
  margin-top: 6px;
  margin-bottom: 20px;
}

.seven .btn-order {
  display: block;
  width: 280px;
  height: 53px;
  background-color: #e63b41;
  border-radius: 2px;
  border: none;
  color: white;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 900;
  line-height: 53px;
  position: relative;
  padding-left: 53px;
  cursor: pointer;
  margin: 20px auto;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  clear: both;
}

.seven .btn-order:hover {
  background: #d23339;
}

.seven .btn-order:hover:before {
  padding-left: 20px;
}

.seven .btn-order:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  content: "\203A";
  width: 45px;
  background-color: #d23339;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  line-height: 45px;
  font-weight: 400;
  font-size: 34px;
  text-align: center;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  /* font-family: Verdana */
}

.img-prod-wrap {
  float: left;
  margin-top: 184px;
  margin-left: -17px;
  margin-right: -30px;
}

.cons {
  float: right;
  width: 50%;
  /*background-color: #34887b;*/
}

.cons .cons-title {
  /*background-color: #3f988a;*/
  color: white;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 700;
  line-height: 60px;
  padding-left: 33px;
}

.cons .cons-title i {
  margin: 14px 14px 14px 0;
}

.cons ul li:not(:last-child) {
  position: relative;
  margin-left: 61px;
  margin-right: 42px;
  /*border-bottom: 1px solid #3d9789;*/
  color: white;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  line-height: 20px;
  padding: 22px 0 21px 0;
}

.cons ul li:not(:last-child):before {
  content: '';
  position: absolute;
  left: -28px;
  top: 23px;
  background-image: url(../img/sprite.png);
  background-position: -170px -110px;
  width: 16px;
  height: 16px;
}

.cons ul li:nth-child(4) {
  border-bottom: none;
}

.cons ul li:last-child {
  margin-left: 35px;
}

.cons ul li:last-child span {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  line-height: 20px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 17px;
}

.how-to {
  font-size: 0;
  margin-top: 10px;
  margin-bottom: 33px;
}

.how-to li {
  display: inline-block;
  vertical-align: top;
  color: #161616;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  width: 33.3333333%;
}

.how-to li .how-text {
  text-align: center;
}

.how-to li .how-text span {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin-left: 20px;
}

.how-to li:nth-child(1) .how-img {
  display: inline-block;
  width: 195px;
  height: 195px;
  margin-bottom: 40px;
  background: url(../img/prem-1.png) no-repeat center center;
  position: relative;
}

.how-to li:nth-child(1) .how-img:before {
  content: "1";
  position: absolute;
  top: -1px;
  left: 0px;
  width: 56px;
  height: 56px;
  background: #fff;
  border-radius: 100%;
  text-align: center;
  color: #3f988a;
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 900;
  line-height: 56px;
}

.how-to li:nth-child(2) .how-img {
  display: inline-block;
  width: 195px;
  height: 195px;
  margin-bottom: 40px;
  background: url(../img/prem-2.png) no-repeat center center;
  position: relative;
}

.how-to li:nth-child(2) .how-img:before {
  content: "2";
  position: absolute;
  top: -1px;
  left: 0px;
  width: 56px;
  height: 56px;
  background: #fff;
  border-radius: 100%;
  text-align: center;
  color: #3f988a;
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 900;
  line-height: 56px;
}

.how-to li:nth-child(3) .how-img {
  display: inline-block;
  width: 195px;
  height: 195px;
  margin-bottom: 40px;
  background: url(../img/prem-3.png) no-repeat center center;
  position: relative;
}

.how-to li:nth-child(3) .how-img:before {
  content: "3";
  position: absolute;
  top: -1px;
  left: 0px;
  width: 56px;
  height: 56px;
  background: #fff;
  border-radius: 100%;
  text-align: center;
  color: #3f988a;
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 900;
  line-height: 56px;
}

.nine {
  background-color: #181818;
}

.nine .container {
  background: url(../img/fake-bg.png) no-repeat center bottom;
}

.fake-input-wrap {
  position: relative;
}

.fake-text-wrap {
  float: left;
  width: 482px;
  margin-top: 58px;
}

.fake-text-wrap .fake-title {
  font-family: "Open Sans";
  line-height: 36px;
  color: white;
  font-size: 30px;
  font-weight: 900;
}

.fake-text-wrap .fake-title span {
  color: #6cccbd;
}

.fake-text-wrap .fake-text {
  font-family: "Open Sans";
  line-height: 22px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  margin-top: 19px;
  margin-bottom: 36px;
}

.fake-text-wrap .check_popup_code_input {
  width: 288px;
  height: 52px;
  background-color: white;
  border-radius: 3px;
  border: none;
  color: #000;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  padding-left: 20px;
}

.fake-text-wrap .check-btn {
  display: block;
  float: right;
  width: 173px;
  height: 52px;
  background-color: #6ac7b8;
  border-radius: 2px;
  color: white;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.fake-text-wrap .check-btn:hover {
  background: #4aac9c;
}

.fake-text-wrap .check-btn:hover i {
  margin-right: 5px;
}

.fake-text-wrap .check-btn i {
  position: relative;
  z-index: 3;
  margin-right: 15px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.fake-text-wrap .check-btn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 47px;
  background-color: #4aac9c;
  z-index: 2;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.fake-img {
  float: right;
  margin-top: 82px;
  margin-right: 0;
  position: relative;
}

.fake-img .fake-number {
  position: absolute;
  right: 0;
  top: -40px;
  background: url(../img/fake-glass.png) no-repeat center center;
  width: 245px;
  height: 245px;
  text-align: center;
  color: #6ac7b8;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 700;
  padding-top: 98px;
}

.fake-img .fake-number span {
  color: white;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 35px;
}

.ten {
  background-color: #ecfffe;
}

.reviews-title-wrap {
  margin-bottom: 30px;
}

.video_subtitle {
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: bold;
  margin-top: 5px;
}

.reviews-title {
  float: left;
  width: 840px;
  font-family: "Open Sans";
  font-size: 30px;
  color: #161616;
  font-weight: 600;
  line-height: 36px;
  margin-top: 55px;
  margin-left: 90px;
}

.reviews-title span {
  color: #389485;
  font-weight: 900;
  line-height: 36px;
}

.customers-pleasure {
  float: right;
  width: 278px;
  height: 80px;
  background-color: #e63b41;
  border-radius: 9px;
  margin-top: 29px;
}

.customers-pleasure .per-cent {
  color: white;
  font-family: "PT Sans";
  font-size: 56px;
  font-weight: 700;
  line-height: 80px;
  float: left;
  padding-left: 12px;
  padding-right: 9px;
  display: table;
  background-color: #d23339;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

.customers-pleasure .per-cent span {
  opacity: 0.7;
  color: white;
  font-family: "PT Sans";
  font-size: 36px;
  font-weight: 400;
  line-height: 80px;
  display: table-cell;
  vertical-align: middle;
}

.customers-pleasure .custom {
  display: block;
  float: left;
  color: white;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 21px;
}

.customers-pleasure .custom span {
  display: block;
  font-size: 23px;
  font-weight: 400;
}

.review-1 {
  background: url(../img/ava-1.png) no-repeat left center;
  font-family: "Open Sans";
  line-height: 24px;
  color: #585858;
  font-size: 15px;
  font-weight: 400;
  padding: 28px 10px 48px 200px;
  text-align: justify;
}

.review-1 span {
  display: block;
  color: #1e1e1e;
  font-size: 18px;
  font-weight: 700;
}

.review-1 span span {
  color: #389485;
  font-size: 18px;
  font-weight: 700;
  display: inline;
}

.ten-2,
.ten-4 {
  background-color: #defbf9;
}

.review-2 {
  background: url(../img/ava-1.png) no-repeat left center;
  font-family: "Open Sans";
  line-height: 24px;
  color: #585858;
  font-size: 15px;
  font-weight: 400;
  padding: 45px 10px 44px 200px;
  text-align: justify;
}

.review-2 span {
  display: block;
  color: #1e1e1e;
  font-size: 18px;
  font-weight: 700;
}

.review-2 span span {
  color: #389485;
  font-size: 18px;
  font-weight: 700;
  display: inline;
}

.ten-3 {
  background-color: #ecfffe;
}

.review-3 {
  background: url(../img/ava-2.png) no-repeat left center;
  font-family: "Open Sans";
  line-height: 24px;
  color: #585858;
  font-size: 15px;
  font-weight: 400;
  padding: 54px 10px 69px 200px;
  text-align: justify;
}

.review-3 span {
  display: block;
  color: #1e1e1e;
  font-size: 18px;
  font-weight: 700;
}

.review-4 {
  background: url(../img/ava-1.png) no-repeat left center;
  font-family: "Open Sans";
  line-height: 24px;
  color: #585858;
  font-size: 15px;
  font-weight: 400;
  padding: 54px 10px 69px 200px;
  text-align: justify;
}

.review-4 span {
  display: block;
  color: #1e1e1e;
  font-size: 18px;
  font-weight: 700;
}

.review-4 span span {
  color: #389485;
  font-size: 18px;
  font-weight: 700;
  display: inline;
}

.black-bg {
  background: #0b0b0e;
}

.eleven {
  background: #0b0303 url(../img/god-bg.png) no-repeat left bottom;
  max-width: 1920px;
  margin: 0 auto;
}

.eleven .container {
  background-image: none;
}

.eleven .prod-wrap {
  width: 382px;
}

.eleven .list li:after {
  opacity: 0.2;
}

.eleven .list li {
  margin-bottom: 20px
}

.eleven .list li:after {
  display: none
}

footer {
  padding-top: 103px;
  padding-bottom: 25px;
}

footer .left-foot {
  float: left;
  margin-right: 129px;
  color: #393939;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

footer .left-foot span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 29px;
}

footer .mid-foot {
  text-align: center;
  float: left;
  color: #393939;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

footer .mid-foot a {
  text-decoration: underline;
  display: block;
}

footer .right-foot {
  float: right;
  text-align: right;
  color: #393939;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.modal+.form-wrap {
  float: none;
  width: 312px;
  margin: 120px auto 30px;
  position: relative;
  z-index: 100;
}

.close-btn {
  font-size: 40px;
  color: #fff;
  position: absolute;
  right: 0;
  top: -40px;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.close-btn:hover {
  color: #6ac6b8;
}

.js-message {
  color: #fff;
  position: absolute;
  bottom: -35px;
  width: 100%;
  left: 0;
  font-size: 14px;
}

@media screen and (min-width: 1920px) {
  .eleven {
    background-position-x: 20%;
  }
}

@media screen and (max-width: 1020px) {
  .leaf {
    display: none;
  }

  .list {
    margin-top: 20px;
  }

  .prod-wrap {
    height: 282px;
    margin-bottom: 40px;
    float: right;
  }

  .blur {
    text-align: center;
  }

  .second-list-text {
    float: none;
    display: block;
    margin: 0 auto;
  }

  .prod-wrap img {
    position: absolute;
    z-index: 3;
    bottom: -60px;
    left: 0;
    max-width: 100%;
    margin-left: 0 !important;
  }

  .label {
    bottom: auto;
    top: 10px;
    right: 0;
  }

  .form-wrap {
    clear: both;
    float: none;
    margin: 20px auto 10px;
  }

  .list-prod-form-wrap {
    margin-bottom: 20px;
  }

  .one {
    background-image: none;
  }

  .made-of-list li {
    background-size: 70%;
  }

  .section-b-title,
  .section-w-title {
    font-size: 26px;
    line-height: 32px;
  }

  .three .container {
    background-image: none;
  }

  .sex-list-title {
    text-align: center;
  }

  .sex-list {
    width: 393px;
    margin: 40px auto;
    float: none;
  }

  .five .prod-wrap {
    margin-bottom: 110px;
    height: 282px;
  }

  .five .prod-wrap img {
    width: 450px;
    height: auto;
    left: -39px;
  }

  .five .label {
    right: 10px;
    top: -10px;
  }

  .five .list {
    width: 300px;
  }

  .five .list br {
    display: none;
  }

  .left-prod {
    top: -78px;
  }

  .six .container {
    background-size: 30%;
    background-position: center bottom;
  }

  .expert-title-wrap {
    float: none;
    max-width: 100%;
    text-align: center;
  }

  .expert-title {
    text-align: center;
  }

  .framed {
    margin: 0 auto 400px;
  }

  .seven .container {
    background-image: none;
  }

  .img-prod-wrap {
    display: none;
  }

  .fake-text-wrap {
    width: 430px;
  }

  .fake-img {
    width: 300px;
    margin-top: 180px;
  }

  .fake-img img {
    display: block;
    max-width: 100%;
  }

  .fake-text-wrap .check_popup_code_input {
    width: 244px;
  }

  .fake-img .fake-number {
    width: 150px;
    height: 150px;
    background-size: cover;
    padding-top: 53px;
    font-size: 12px;
  }

  .fake-img .fake-number span {
    font-size: 13px;
  }

  .reviews-title {
    width: 450px;
  }

  footer .left-foot {
    margin-right: 37px;
  }

  .eleven {
    background-image: none;
  }

  .important {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .pros ul,
  .cons ul {
    max-width: 100%;
  }

  .pros ul:after,
  .cons ul:after {
    display: none;
  }

  footer {
    padding: 30px 0;
  }
}

@media screen and (max-width: 767px) {
  .rocket {
    display: none;
  }

  h1 {
    font-size: 42px;
    line-height: 1.25;
  }

  .logo {
    float: none;
    margin: 0 auto;
    text-align: center;
    display: block;
  }

  .five .prod-wrap img {
    width: 360px;
  }

  .framed {
    width: 100%;
  }

  .order-btn {
    display: none;
  }

  .section-title-border {
    text-align: center;
    border: none;
    padding-left: 0;
    line-height: 1.25;
  }

  .list {
    width: 280px;
    float: none;
    margin: 20px auto;
  }

  .prod-wrap {
    float: none;
    width: 100%;
    height: auto;
    margin-top: 30px;
  }

  .prod-wrap img {
    position: static;
  }

  .label {
    top: -30px;
    right: 80px;
  }

  .five .label {
    bottom: auto;
    top: -20px;
    right: 90px;
  }

  .important {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .made-of-list li {
    width: 50%;
  }

  .five .container {
    background-image: none;
  }

  .five .prod-wrap {
    margin-bottom: 50px;
  }

  .expert-title {
    margin-top: 30px;
  }

  .six .container {
    background-size: 50%;
  }

  .cons ul li:last-child,
  .how-to li .how-text span,
  .pros li:last-child span {
    margin-left: 0;
    text-align: center;
  }

  .how-to li {
    margin: 0 20px;
  }

  .pros,
  .cons {
    float: none;
    margin: 0 auto 20px;
  }

  .section-b-title,
  .section-w-title {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .pros-cons-wrap {
    margin-bottom: 20px;
  }

  .how-to {
    text-align: center;
    margin-bottom: 15px;
  }

  .how-to li {
    width: 50%;
    margin-bottom: 20px;
  }

  .how-to li:nth-child(1) .how-img,
  .how-to li:nth-child(2) .how-img,
  .how-to li:nth-child(3) .how-img {
    margin-bottom: 20px;
  }

  .fake-text-wrap {
    margin-top: 20px;
    width: 100%;
    float: none;
  }

  .nine .container {
    background-image: none;
  }

  .fake-img {
    margin-top: 65px;
    width: auto;
  }

  .fake-img .fake-number {
    top: 38px;
    width: 245px;
    height: 245px;
    padding-top: 98px;
  }

  .fake-img .fake-number span {
    font-size: 20px;
  }

  .reviews-title {
    width: 100%;
    float: none;
    text-align: center;
    margin: 20px 0;
  }

  .customers-pleasure {
    float: none;
    margin: 20px auto;
  }

  .review-1,
  .review-2,
  .review-3,
  .review-4 {
    text-align: left
  }

  .review-1 {
    background-position: left 65px;
  }

  .review-2 {
    background-position: left 104px;
  }

  .review-3 {
    background-position: left 81px;
  }

  .eleven .prod-wrap {
    width: 100%;
  }

  .prod-wrap img {
    display: block;
    max-width: 100%;
    margin: 0 auto !important;
  }

  .five .list-prod-form-wrap {
    margin-bottom: 20px;
  }

  .five .list {
    width: 325px;
  }

  .reviews-title-wrap {
    margin-bottom: 0;
  }

  .right-foot {
    display: none;
  }

  footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  footer .left-foot {
    float: none;
    text-align: center;
    margin-right: 0;
  }

  footer .left-foot i {
    display: block;
    margin: 0 auto;
  }

  footer .left-foot span {
    margin-left: 0;
    margin-top: 10px;
  }

  footer .mid-foot {
    float: none;
    margin-top: 20px;
  }

  .pros,
  .cons {
    width: 100%;
  }

  .pros {
    border-right: none;
  }

  .pros ul:after,
  .cons ul:after {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .order-btn {
    display: none;
  }

  .logo {
    float: none;
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    font-size: 27px;
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .prod-wrap {
    padding-top: 60px;
    overflow-x: hidden;
    margin-top: 15px;
  }

  .five .prod-wrap {
    height: auto;
  }

  .prod-wrap img {}

  .made-of-list li {
    background-size: 60%;
  }

  .label {
    top: 10px;
    right: 0px;
  }

  .five .label {
    right: 10px;
    top: 0px;
  }

  .important {
    padding-left: 0;
    padding-top: 80px;
    background-position: center top;
  }

  .sex-list,
  .framed {
    width: 100%;
  }

  .pros,
  .cons,
  .form-wrap,
  .five .form-wrap,
  .five .list {
    width: 100%;
  }


  .form-wrap .form-header .form-header-left {
    padding-left: 20px;
  }

  .sex-list-title {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .sex-list li span {
    width: calc(100% - 80px);
  }

  .section-b-title,
  .section-w-title,
  .section-title-border,
  .expert-title,
  .reviews-title {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 24px;
    line-height: 30px;
  }

  .section-b-title br,
  .section-w-title br,
  .section-title-border br,
  .expert-title br,
  .reviews-title br {
    display: none;
  }

  .made-of-list li {
    width: 100%;
    margin-bottom: 20px;
  }

  .left-prod {
    left: 27px;
  }

  .framed {
    height: auto;
    background-image: none;
    margin-bottom: 200px;
  }

  .framed .inner-framed {
    margin: 0;
  }

  .pros li:last-child,
  .cons ul li:last-child {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
  }

  .cons .cons-title {
    font-size: 20px;
  }

  .how-to li {
    width: 100%;
    margin: 20px 0;
  }

  .fake-text-wrap .check_popup_code_input {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .fake-text-wrap .check-btn {
    float: none;
    margin: 0 auto;
  }

  .fake-img img {}

  .fake-img .fake-number {
    width: 150px;
    height: 150px;
    background-size: cover;
    padding-top: 53px;
    font-size: 12px;
    right: 0;
  }

  .fake-img .fake-number span {
    font-size: 13px;
  }

  .review-1,
  .review-2,
  .review-3,
  .review-4 {
    padding: 175px 0 20px 0;
    background-position: center 20px;
    background-size: 50%;
  }

  .review-1 span,
  .review-2 span,
  .review-3 span,
  .review-4 span {
    text-align: center;
  }

  .js-message {
    bottom: -51px;
  }

  footer .mid-foot {
    font-size: 15px;
  }

  .framed .inner-framed .doc-prof:after {
    right: 0;
  }
}

.popup-form {
  background: #6ac6b8;
  border: 4px solid #e63b41;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0;
}

.popup-form .form-wrap {
  float: none;
  margin-top: 0;
  font-size: 16px;
  border-radius: 0;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-shadow: 2px 2px 20px 10px rgba(66, 133, 152, 0.3);
  box-shadow: 2px 2px 20px 10px rgba(66, 133, 152, 0.3);
}

.popup-prod {
  width: 320px;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

@media all and (max-width: 768px) {
  .popup-prod {
    float: none;
    display: block;
    margin: 0 auto;
  }

  .popup-form .form-wrap {
    display: block;
  }

  .popup-form {
    padding: 5px;
  }
}

.star {
  font-size: 18px;
  vertical-align: top;
}

.footnote {
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}